<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bt.gov.jdwnrh.www.findadoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jdwnrh_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jdwnrh_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/jdwnrh_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/help"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting"
            android:label="@string/help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".feature"
            android:label="@string/help"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".More"
            android:label="@string/more_app"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:icon="@android:drawable/ic_dialog_info"
            android:label="About"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feedback"
            android:icon="@android:drawable/ic_menu_edit"
            android:label="Feedback"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RateUs"
            android:icon="@android:drawable/star_big_off"
            android:label="@string/rate_app"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".doc_login"
            android:icon="@android:drawable/ic_lock_lock"
            android:label="@string/login"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/notif"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareApp"
            android:label="@string/share_app"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dialler"
            android:label="@string/dial"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".Cardiologist"
            android:label="@string/lcard"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>